# Maven
target/
*.iml
.project
.classpath
.settings/

# IDEs
.idea/
.vscode/

# Ignore local config
/src/main/resources/application*.properties
/src/main/resources/application*.yml

# Ignore build output
/target/
# OS
.DS_Store

EVALUATION_RUBRIC.md
